<!-- <button (click)="showHistory()" class="btn mb-2 btn-primary">Show History</button> -->


<div *ngIf="imageData !== null && imageData!.length > 0; else noImages" class="image-box">
    <h2>History:</h2>
    <div *ngFor="let img of imageData">
      <img [src]="img.image" [alt]="'Image'" />
      <div class="flex-1">
            <button *ngIf="!img.isFavorite" (click)="onAddClicked(img)">Add To Favorites</button>
            <button *ngIf="img.isFavorite" (click)="onRemoveFromFavoritesClicked(img)">Remove from Favorites</button>
            <button (click)="onRemoveFromHistoryClicked(img)">Remove from History</button>
      </div>
    </div>
  </div>

  <ng-template #noImages>
    <h3>No images found.</h3>
  </ng-template>
